@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Long Cang';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/LongCang-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/assets/fonts/NotoSansSC-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/NotoSerifSC-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/SourceSerifPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/SyneMono-Regular.ttf') format('truetype');
}
